fieldset legend {
	color:#000;
	width:auto;
}

fieldset fieldset legend {
	color:#666;
	margin-left: 20px;
}

fieldset fieldset fieldset legend {
	color:#999;
	margin-left: 40px;
}

fieldset fieldset fieldset fieldset legend {
	background-color: #000;
	color:#fff;
	margin-left: 60px;
}